<section class="ship-comp">
  <h1>TRANSPORTADORAS PARCEIRAS</h1>
  <nav class="section-nav">
    <%= link_to 'CADASTRAR TRANSPORTADORA', new_shipping_company_path %>
  </nav>
  <div class="ship-comp-div">
    <% if @shipping_companies.any? %>
      <% @shipping_companies.each do |company| %>
        <article>
          <h3><%= link_to(company.brand_name, company) %></h3>
          <dl>
            <dt>CNPJ:</dt>
            <dd><%= company.registration_number %></dd>
            <dt>Localidade:</dt>
            <dd><%= company.city %> - <%= company.state %></dd>
          </dl>
        </article>
      <% end %>
    <% else %>
      <p>Não existem transportadoras cadastradas</p>
    <% end %>
  </div>
</section>