<section class="detail-ship-comp">
    <div>
      <h1>Transportadora <%= @shipping_company.brand_name %></h1>
      <dl>
        <dt> Razão Social:</dt>
        <dd><%= @shipping_company.corporate_name %></dd>
        <dt> CNPJ:</dt>
        <dd><%= @shipping_company.registration_number %></dd>
        <dt> Endereço:</dt>
        <dd><%= @shipping_company.address %></dd>
        <dt> Localidade:</dt>
        <dd><%= @shipping_company.city %> - <%= @shipping_company.state %></dd>
      </dl>
    </div>
</section>

<section>
  <%= link_to 'PEDIDOS', orders_path(shipping_company: @shipping_company) %>
</section>

<section class="vehicles">
  <h4>VEÍCULOS REGISTRADOS</h4>
  <%= link_to 'Cadastrar veículo', new_shipping_company_vehicle_path(@shipping_company) %>
  <% if @vehicles %>
    <table>
      <% @vehicles.each do |vehicle| %>
        <tr>
          <th>Modelo</th>
          <th>Marca</th>
          <th>Ano de fabricação</th>
          <th>Placa</th>
          <th>Carga máxima (kg)</th>
        <tr>
        <tr>
          <td><%= vehicle.model %></td>
          <td><%= vehicle.brand %></td>
          <td><%= vehicle.fabrication_year %></td>
          <td><%= vehicle.license_plate %></td>
          <td><%= vehicle.capacity %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>Não existem veículos registrados</p>
  <% end %>
</section>

<section class="prices">
  <h4>TABELA DE PREÇOS</h4>
  <%= link_to 'Cadastrar preço', new_shipping_company_price_setting_path(@shipping_company) %>
  <table>
    <tr>
      <th>Peso (kg)</th>
      <th>Volume (m³)</th>
      <th>Preço/km</th>
    </tr>
    <% if @prices %>
      <% @prices.each do |price| %>
        <tr>
          <td><%= "#{price.min_weight} - #{price.max_weight}" %></td>
          <td><%= "#{price.min_volume} - #{price.max_volume}" %></td>
          <td><%= number_to_currency(price.distance_value) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>Não existem valores cadastrados</tr>
    <% end %>
  </table>
</section>

<section class="delivery_time">
  <h4>TABELA DE PRAZOS</h4>
  <%= link_to 'Cadastrar prazo', new_shipping_company_delivery_time_path(@shipping_company) %>
  
    <table>
      <tr>
        <th>Distância (km)</th>
        <th>Prazo (dias úteis)</th>
      </tr>
      <% if @delivery_times %>
        <% @delivery_times.each do |time| %>
          <tr>
            <td><%= "#{time.min_distance} - #{time.max_distance}" %></td>
            <td><%= time.time_delivery %></td>
          </tr>
        <% end %>
      <% else %>
        <p>Não existem prazos de entrega cadastrados</p>
      <% end %>
    </table>
</section>

<div>
  <%= link_to 'VOLTAR', shipping_companies_path %>
</div>