<section class="detail-ship-comp">
  <h1>TRANSPORTADORAS PARCEIRAS</h1>
    <div>
      <h3>Transportadora <%= @shipping_company.brand_name %></h3>
      <dl>
        <dt> Razão Social:</dt>
        <dd><%= @shipping_company.corporate_name %></dd>
        <dt> CNPJ:</dt>
        <dd><%= @shipping_company.registration_number %></dd>
        <dt> Endereço:</dt>
        <dd><%= @shipping_company.address %></dd>
        <dt> Localidade:</dt>
        <dd><%= @shipping_company.city %> - <%= @shipping_company.state %></dd>
        <dt><%= link_to 'VEÍCULOS REGISTRADOS', shipping_company_vehicles_path(@shipping_company) %></dt>
      </dl>
    </div>
</section>

<section class="vehicles">
  <h4>VEÍCULOS REGISTRADOS</h4>
  <%= link_to 'Cadastrar veículo', new_shipping_company_vehicle_path(@shipping_company) %>
  <% if @vehicles %>
    <% @vehicles.each do |vehicle| %>
      <p><%= vehicle.brand %> <%= vehicle.model %></p>
      <dl>
        <dt>Ano de fabricação:</dt>
        <dd><%= vehicle.fabrication_year %></dd>
        <dt>Carga máxima:</dt>
        <dd><%= vehicle.capacity %>g</dd>
        <dt>Placa:</dt>
        <dd><%= vehicle.license_plate %></dd>
      </dl>
    <% end %>
  <% else %>
    <p>Não existem veículos registrados</p>
  <% end %>
</section>

<section class="prices">
  <h4>TABELA DE PREÇOS</h4>
  <%= link_to 'Cadastrar preço', new_shipping_company_price_setting_path(@shipping_company) %>
  <table>
    <tr>
      <th>Peso (kg)</th>
      <th>Volume (m³)</th>
      <th>Preço/km</th>
    </tr>
    <% if @prices %>
      <% @prices.each do |price| %>
        <tr>
          <td><%= price.min_weight %> - <%= price.max_weight %></td>
          <td><%= price.min_volume %> - <%= price.max_volume %></td>
          <td>R$ 0,<%= price.distance_value %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>Não existem valores cadastrados</tr>
    <% end %>
  </table>
</section>

<section class="delivery_time">
  <h4>TABELA DE PRAZOS</h4>
  <%= link_to 'Cadastrar prazo', new_shipping_company_delivery_time_path(@shipping_company) %>
  <% if @delivery_times %>
    <table>
      <tr>
        <th>Distância (km)</th>
        <th>Prazo (dias úteis)</th>
      </tr>
      <% @delivery_times.each do |time| %>
        <tr>
          <th><%= time.min_distance %> - <%= time.max_distance %></th>
          <th><%= time.time_delivery %></th>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>Não existem prazos de entrega cadastrados</p>
  <% end %>
</section>

<div>
  <%= link_to 'VOLTAR', shipping_companies_path %>
</div>