<header class="header">
  <h1>SISTEMA DE ENTREGAS</h1>
  <% if !user_signed_in? && !admin_signed_in? %>
    <nav>
      <ul>
        <li><%= link_to 'USUÁRIO', new_user_session_path %></li>
        <li><%= link_to 'ADMINISTRADOR', new_admin_session_path %></li>
      </ul>
    </nav>
    <section class="search">
      <h3>Pesquisa de pedidos</h3>
      <%= form_with url:search_orders_path, method: :get do |f| %>
        <div>
          <%= f.label :query, 'Código da busca' %>
          <%= f.text_field :query %>
        </div>
        <div>
          <%= f.submit 'PESQUISAR' %>
        </div>
      <% end %>
    </section>
  <% elsif admin_signed_in? %>
    <div class="budget-btn">
      <%= link_to 'Realizar orçamento', new_search_budget_path %>
    </div>
    <section>
      <h3>ORÇAMENTOS ANTERIORES:</h3>
      <table>
        <tr>
          <th>No. da busca</th>
          <th>Pessoa responsável</th>
        </tr>
        <% if @search_budgets.present? %>
          <% @search_budgets.each do |search| %>
            <tr>
              <td><%= link_to search.id, search %>
              <td><%= search.admin.email %>
            </tr>
          <% end %>
        <% else %>
          <p>Não existem orçamentos realizados</p>
        <% end %>
      </table>
    </section>
  <% end %>
</header>