<% if user_signed_in? %>
  <h1>Pedidos para <%= @company.brand_name %> </h1>
  <% if @orders.present? %>
    <table>
      <tr>
        <th>Código</th>
        <th>Data de criação</th>
        <th>Status</th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.code, order %></td>
          <td><%= I18n.l(order.created_at.to_date) %></td>
          <td><%= I18n.t(order.status) %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>Não existem pedidos para essa transportadora</p>
  <% end %>
<% else %>
  <% if @orders.present? %>
    <table>
      <tr>
        <th>Pedido no.</th>
        <th>Transportadora responsável</th>
        <th>Status do pedido</th>
      </tr>
      <% @orders.each do|order| %>
        <tr>
          <td><%= link_to(order.code, order) %></td>
          <td><%= order.shipping_company.brand_name %></td>
          <td><%= I18n.t(order.status) %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>Não existem pedidos cadastrados</p>
  <% end %>
<% end %>