<h1>Pedido no. <%= @order.code %></h1>
<div>
  <h3>Transportadora: <%= @order.shipping_company.brand_name %> </h3>
  <dl>
    <dt>Volume do produto: </dt>
    <dd><%= @order.volume %> m³</dd>
    <dt>Peso do produto: </dt>
    <dd><%= @order.weight %> kg</dd>
    <dt>Distância: </dt>
    <dd><%= @order.distance %> km</dd>
    <dt>Endereço de saída: </dt>
    <dd><%= "#{@order.from_address} - #{@order.from_city}(#{@order.from_state})" %></dd>
    <dt>Endereço de chegada: </dt>
    <dd><%= "#{@order.to_address} - #{@order.to_city}(#{@order.to_state})" %></dd>
    <dt>Pedido enviado para: </dt>
    <dd><%= @order.recipient_name %></dd>
    <dt>Valor: </dt>
    <dd> <%= number_to_currency(@order.value) %> </dd>
    <dt>Tempo previsto de entrega: </dt>
    <dd> 2 dias úteis</dd>
    <dt>Status do Pedido: </dt>
    <dd><%= I18n.t(@order.status) %> </dd>
    <% if @order.approved? %>
      <dt>Veículo responsável: </dt>
      <dd><%= "#{@order.vehicle.model} - #{@order.vehicle.license_plate}" %> </dd>
      <p>Pedido entregue?</p>
      <%= button_to 'FINALIZAR', delivered_order_path(@order) %>
    <% end %>
  </dl>
  <% if @order.pending? %>
    <div>
      <p>Alterar Status do pedido?</p>
      <%= form_with url: approved_order_path(@order), method: :post do |f| %>
        <%= f.label :vehicle_id, 'Veículos disponíveis' %>
        <%= f.collection_select(:vehicle_id, @order.shipping_company.vehicles, :id, :model) %>
        <%= f.submit 'ACEITAR' %>
      <% end %>
      <%= button_to 'RECUSAR', rejected_order_path(@order) %>
    </div>
  <% elsif @order.approved? %>
    <% if @routes.present? %>
      <p>Rota de Entrega:</p>
      <table>
        <tr>
          <th>Localização</th>
          <th>Data e hora</th>
        </tr>
        <% @routes.each do |route| %>
          <tr>
            <td><%= route.localization %></td>
            <td><%= I18n.l(route.date_and_time) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <%= form_with model: [@order, @route] do |f| %>
      <div>
        <%= f.label :localization %>
        <%= f.text_field :localization %>
      </div>
      <div>
        <%= f.label :date_and_time %>
        <%= f.datetime_field :date_and_time %>
      </div>
      <div>
        <%= f.submit 'Atualizar localização' %>
      </div>
    <% end %>
  <% end %>
</div>