<h1>Consulta de preços</h1>
<%= form_with(model: @budget) do |f| %>
  <div>
    <%= f.label :height, 'Altura (m)' %>
    <%= f.number_field :height %>
  </div>
  <div>
    <%= f.label :width, 'Largura (m)' %>
    <%= f.number_field :width %>
  </div>
  <div>
    <%= f.label :depth, 'Profundidade (m)' %>
    <%= f.number_field :depth %>
  </div>
  <div>
    <%= f.label :weight, 'Peso (kg)' %>
    <%= f.number_field :weight %>
  </div>
  <div>
    <%= f.label :distance, 'Distância (km)' %>
    <%= f.number_field :distance %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>