<h1>Consulta de preço número: <%= @budget.id %> </h1>
<div>
  <p>Volume - <%= number_with_precision(@budget.volume, precision: 3, significant: true) %> m³</p>
  <p>Peso - <%= number_with_precision(@budget.weight, precision: 3, significant: true) %> kg</p>
  <p>Distância - <%= @budget.distance %>km</p>
</div>

<div>
  <table>
    <tr>
      <th>Transportadora</th>
      <th>Valor R$</th>
      <th>Prazo (dias úteis)</th>
    </tr>
    <% if @search_prices.present? %>
      <% @search_prices.each_pair do |ship_co, price| %>
        <tr>
          <td><%= ship_co.brand_name %></td>
          <td><%= number_to_currency(price[1] / 100) %></td>
          <td><%= price[0] %></td>
        </tr>
      <% end %>
    <% else %>
      <p>Não existem transportadoras disponíveis para o seu pedido</p>
    <% end %>
  </table>
</div>

<section class="new-order">
  <p>Deseja enviar ordem de serviço?</p>
  <%= form_with(model: @order) do |f| %>
    <div>
      <%= f.label :shipping_company_id, 'Escolha a transportadora' %>
      <%= f.collection_select :shipping_company_id, @shipping_companies,  :id, :brand_name %>
    </div>
    <div>
      <%= f.label :volume %>
      <%= f.number_field :volume %>
    </div>
    <div>
      <%= f.label :weight %>
      <%= f.number_field :weight %>
    </div>
    <div>
      <%= f.label :distance %>
      <%= f.number_field :distance %>
    </div>
    <div>
      <%= f.label :from_address %>
      <%= f.text_field :from_address %>
    </div>
    <div>
      <%= f.label :from_city %>
      <%= f.text_field :from_city %>
    </div>
    <div>
      <%= f.label :from_state %>
      <%= f.text_field :from_state %>
    </div>
    <div>
      <%= f.label :to_address %>
      <%= f.text_field :to_address %>
    </div>
    <div>
      <%= f.label :to_city %>
      <%= f.text_field :to_city %>
    </div>
    <div>
      <%= f.label :to_state %>
      <%= f.text_field :to_state %>
    </div>
    <div>
      <%= f.label :recipient_name %>
      <%= f.text_field :recipient_name %>
    </div>
    <div>
      <%= f.label :value %>
      <%= f.text_field :value %>
    </div>
    <div>
      <%= f.label :estimated_delivery_time %>
      <%= f.text_field :estimated_delivery_time %>
    </div>
    <div>
    <%= f.submit 'Enviar' %>
  <% end %>
</section>