<h1>Consulta de preço número: <%= @budget.id %> </h1>
<div class="search-result">
  <p>Volume - <%= number_with_precision(@budget.volume, precision: 3, significant: true) %> m³</p>
  <p>Peso - <%= number_with_precision(@budget.weight, precision: 3, significant: true) %> kg</p>
  <p>Distância - <%= @budget.distance %>km</p>
</div>

<div>
  <table>
    <tr>
      <th>Transportadora</th>
      <th>Valor R$</th>
      <th>Prazo (dias úteis)</th>
    </tr>
    <% if @search_prices.present? %>
      <% @search_prices.each_pair do |company, price| %>
        <tr>
          <td><%= company.brand_name %></td>
          <td><%= number_to_currency(price[1] / 100) %></td>
          <td><%= price[0] %></td>
        </tr>
      <% end %>
      <p>Deseja enviar ordem de serviço?</p>
      <%= render 'form' %>
    <% else %>
      <p>Não existem transportadoras disponíveis para o seu pedido</p>
    <% end %>
  </table>
</div>

