<h1>Cadastro de veículo</h1>

<ul class="error-form-message">
  <% if @vehicle.errors.any? %>
    <% @vehicle.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
</ul>

<%= form_with model: [:shipping_company, @vehicle] do |f| %>
  <div>
    <%= f.label :license_plate, 'Placa' %>
    <%= f.text_field :license_plate %>
  </div>
  <div>
    <%= f.label :brand, 'Marca' %>
    <%= f.text_field :brand %>
  </div>
  <div>
    <%= f.label :model, 'Modelo' %>
    <%= f.text_field :model %>
  </div>
  <div>
    <%= f.label :fabrication_year, 'Ano de fabricação' %>
    <%= f.number_field :fabrication_year %>
  </div>
  <div>
    <%= f.label :capacity, 'Capacidade' %>
    <%= f.number_field :capacity %>
  </div>
  <div>
    <%= f.submit 'Cadastrar' %>
  </div>
<% end %>