<section class="detail-vehicle-comp">
  <h3><%= @vehicle.brand %> <%= @vehicle.model %></h3>
  <dl>
    <dt>Ano de fabricação:</dt>
    <dd><%= @vehicle.fabrication_year %></dd>
    <dt>Carga máxima:</dt>
    <dd><%= @vehicle.capacity %>g</dd>
    <dt>Placa:</dt>
    <dd><%= @vehicle.license_plate %></dd>
  </dl>
</section>