<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to 'INÃCIO', root_path %></li>
        <li><%= link_to 'TRANSPORTADORAS', shipping_companies_path %></li>
        <% if user_signed_in? %>
          <li><%= current_user.email %></li>
          <li><%= button_to 'SAIR', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'LOGIN', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <div class="notice-message">
      <%= alert %>
      <%= notice %>
    </div>
    <%= yield %>
  </body>
</html>
